:root {
  --dab-menu-items-columns: 4;
}

@media screen and (max-width: 1280px) {
  :root {
    --dab-menu-items-columns: 3;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --dab-menu-items-columns: 2;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --dab-menu-items-columns: 1;
  }
}

/* Page template */
.dab-iframe {
  width: 100%;
  height: 360px;
  max-height: 100%;
  resize: vertical;
}

.dab-components__container {
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 20px;
}

.dab-components__sidebar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-gray-050);
}

.dab-components__sidebar-list {
  position: sticky;
  top: 0;
  margin: 0;
  list-style: none;
}

.dab-components__menu {
  display: grid;
  grid-template-columns: repeat(var(--dab-menu-items-columns), 1fr);
  justify-content: space-between;
  margin: 0;
  gap: 20px;
}

.dab-container {
  position: relative;
  display: block;
  width: calc(100% - 40px);
  max-width: none;
  min-height: 40px;
  margin: 0 auto;
  padding: 20px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  line-height: 0;
}

.dab-menu__container {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.dab-menu__container--right {
  justify-content: right;
}

.dab-menu__item {
  list-style: none;
}

.dab-menu__item .form-item {
  margin-top: 0;
}

.dab-menu__item:not(:last-child) {
  margin-right: 15px;
}

.dab-menu__item:last-child a.button {
  margin-right: 0;
}

.cache-clear-form {
  margin-bottom: 0;
}

.cache-clear-form .button {
  margin-right: 0;
}

.dab-form-filter {
  margin-bottom: 50px;
}

.dab-form-filter__container .form-item {
  margin: 0;
}

.dab-form-filter__container select {
  width: 100%;
}

.dab-form-filter__container .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0 20px;
}

.dab-form-filter__actions .button {
  margin-top: 0;
  margin-bottom: 0;
}
