[class*="toolbar-button--icon"].toolbar-button--icon--dab-menu,
.toolbar-link--dab-menu::before {
  --icon: url("../assets/dab-logo.svg");
}

a.toolbar-icon.toolbar-icon-dab-menu::before {
  background-image: url("../assets/dab-logo.svg");
}

.toolbar[class*="light"] a.toolbar-icon.toolbar-icon-dab-menu::before {
  filter: invert(1);
}

.toolbar .toolbar-box a.toolbar-icon.toolbar-icon-dab-menu::before {
  filter: invert(0.5);
}
