{# @file
  @component: component_list_element
#}
{% set has_extension = extension|default(false) and extension.value|default(false) and extension.name|default(false) %}
{% set has_origin = origin|default(false) %}
{% set has_tags = has_extension or has_origin %}

<li class="dab-components__card card">
  <a href="{{ url|default('#') }}" class="dab-components__menu-item">
    <h3>{{ title }}</h3>

    {% if has_tags %}
      <div class="dab-components__tags">
        {% if extension|default(false) and extension.value|default(false) and extension.name|default(false) %}
          <span class="dab-components__tag dab-components__tag--{{ extension.value }}">{{ extension.name }}</span>
        {% endif %}

        {% if origin|default(false) %}
          <span class="dab-components__tag dab-components__tag--{{ origin }}">{{ origin }}</span>
        {% endif %}
      </div>
    {% endif %}

    <em>{{ machine_name }}</em>

    {% if description|default(false) %}
      <p class="dab-components__description">{{ description }}</p>
    {% endif %}
  </a>
</li>
