/*
 * component_list_element CSS
 */
:root {
  --tag-color: #e0ac0060;
}

.card {
  /* Reuse default card variables. */
  --card-bg-color: var(--color-white);
  --card-border-size: 1px;
  --card-border-color: var(--color-gray-200-o-80);
  --card-border-radius-size: var(--base-border-radius);
  --card-image-border-radius-size: calc(var(--card-border-radius-size) - var(--card-border-size));
  --card-box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: flex-start;
  padding: 0;
  border: var(--card-border-size) solid var(--card-border-color);
  border-radius: var(--card-border-radius-size);
  background-color: var(--card-bg-color);
  box-shadow: var(--card-box-shadow);
}

.dab-components__card {
  position: relative;
  justify-content: center;
  min-height: 150px;
  list-style: none;
}

.dab-components__card:hover,
.dab-components__card:focus,
.dab-components__card:active {
  cursor: pointer;
  background-color: var(--tabs--hover-bg-color);
}

.dab-components__menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 5px 20px;
  text-decoration: none;
}

.dab-components__menu-item::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.dab-components__tags {
  margin-bottom: 10px;
}

.dab-components__tag {
  width: fit-content;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  background-color: var(--tag-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.dab-components__tag--theme {
  --tag-color:  #003ecc40;
}

.dab-components__tag--custom {
  --tag-color: #7100e060;
}

.dab-components__tag--contrib {
  --tag-color: #e0000060;
}

.dab-components__tag--core {
  --tag-color: #0090e060;
}

.dab-components__description {
  color: rgba(0, 0, 0, 0.7);
}
