<div class="dab-components">
  {{ form }}

  <div class="dab-components__container">
    <aside class="dab-components__sidebar">
      <ul class="dab-components__sidebar-list">
        {% for component_type in components_types %}
          {% include 'dab:component_sidebar_list_item' with { ... component_type } only %}
        {% endfor %}
      </ul>
    </aside>

    <section class="dab-components__grid">
      <ul class="dab-components__menu">
        {% for component in components %}
          {% include 'dab:component_list_element' with { ...component } only %}
        {% endfor %}
      </ul>
    </section>
  </div>
</div>
