/*
 * component_sidebar_list_item CSS
 */
.dab-components__sidebar-item {
  padding: 0;
  font-size: 1.3rem;
  list-style: none;
}

.dab-components__sidebar-item:hover,
.dab-components__sidebar-item:focus,
.dab-components__sidebar-item:active {
  cursor: pointer;
  background-color: var(--tabs--hover-bg-color);
}

.dab-components__sidebar-item .dab-components__sidebar-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.dab-components__sidebar-item.active .dab-components__sidebar-link {
  color: var(--color-absolutezero);
  border-left: 5px solid var(--color-absolutezero);
  background-color: white;
  font-weight: bold;
}
