{# @file
  @component: component_sidebar_list_item
  @props:
    - title:
      type: string
    - url:
      type: string
    - class:
      type: array
#}

<li class="dab-components__sidebar-item {{ class|join(' ') }}">
  <a href="{{ url }}" class="dab-components__sidebar-link" {{ 'active' in class ? " aria-current='page'"}}>
    {{ title }}
  </a>
</li>
